<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oince.projecthd.mapper.BoardMapper">

    <insert id="addNewBoard" parameterType="oince.projecthd.domain.Board"  useGeneratedKeys="true" keyProperty="boardId">
        insert into board(member_id, title, date, views, thumbsup, url, item_name, price, delivery_price, category, content)
        values(#{memberId}, #{title}, #{date}, #{views}, #{thumbsup}, #{url}, #{itemName}, #{price}, #{deliveryPrice}, #{category}, #{content})
    </insert>

    <select id="findById" resultType="oince.projecthd.domain.Board">
        select * from board where board_id=#{boardId}
    </select>

    <select id="findAll" resultType="oince.projecthd.domain.Board">
        select * from board
    </select>

    <update id="increaseViews">
        update board set views=views+1 where board_id=#{boardId}
    </update>

    <update id="increaseThumbsup">
        update board set thumbsup=thumbsup+1 where board_id=#{boardId}
    </update>

    <update id="updateBoard" parameterType="oince.projecthd.domain.Board">
        update board set title=#{title}, url=#{url}, item_name=#{itemName}, price=#{price},
                         delivery_price=#{deliveryPrice}, category=#{category}, content=#{content}
        where board_id=#{boardId}
    </update>

    <delete id="deleteBoard">
        delete from board where board_id=#{boardId}
    </delete>


</mapper>