.header {
    display: flex;
    justify-content: space-between; /* 왼쪽, 오른쪽 요소를 양끝으로 배치 */
    align-items: center;
    padding: 10px;
  }

  .signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 화면 전체 높이 */
  }

  .signup-container h2 {
    margin-bottom: 20px;
  }
  
  .signup-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signup-container input {
    margin: 10px 0;
    padding: 10px;
    width: 200px;
  }
  
  .signup-submit {
    margin-top: 20px;
    padding: 10px 20px;
    width: 150px;
  }
  
  .left h1 {
    margin: 0;
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* 요소들을 오른쪽 정렬 */
  }
  

  .input-field {
    margin-right: 10px;
    padding: 5px;
  }
  
  .login-button, .signup-button {
    margin-left: 10px;
    padding: 5px 10px;
  }
  
  .tabs {
    display: flex;
    flex-wrap: wrap;  /* 줄 바꿈을 허용하여 두 줄로 표시 */
    justify-content: center; /* 중앙 정렬 */
    margin: 20px 0;
  }
  
  .tab-item {
    margin: 5px 10px; /* 탭 간의 간격을 조정 */
    font-size: 16px;  /* 텍스트 크기 */
    cursor: pointer;  /* 커서를 포인터로 변경 */
    text-decoration: underline; /* 탭 텍스트를 하이퍼링크처럼 보이게 만듦 */
    color: #333;  /* 탭 텍스트 색상 */
  }

  .tab-item:hover {
    color: #007bff;  /* 마우스를 올렸을 때 색상 변화 */
  }
  
  .post-list {
    padding: 10px;
  }
  
  .post-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  